@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" asp-action="Logout" asp-controller="Home">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-route-provider="Google" asp-action="ExternalLogin" asp-controller="Home">Login google</a>
            <a class="nav-link text-dark" asp-route-provider="Facebook" asp-action="ExternalLogin" asp-controller="Home">Login facebook</a>
            <a class="nav-link text-dark" asp-route-provider="Vkontakte" asp-action="ExternalLoginVk" asp-controller="Home">Login vkontakte</a>

    </li>
}
</ul>
